*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
}

.layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 200px;
    flex-shrink: 0;
    background: #ffffff;
    position: fixed;
}
    .sidebar a {
        color: #303030;
        text-decoration:none;
        font-weight:500;
    }
        .sidebar a:hover {
            color: #D587FF;
            cursor:pointer;
        }
.brandbar {
    background: #ffffff;
    padding: 20px 24px;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #D587FF;
    font-weight: 900;
}

.header {
    background: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 30px;
}
/* İçerik alanı */
.content {
    background-color: #f3f3f3;
    margin-left: 200px; /* sidebar genişliği kadar boşluk */
    flex-grow: 1;
}

.contentContainer {
    padding: 24px;
}
.card{

}
.card-header{
    border:1px solid silver;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#ffffff;
}
.card-title {
    display: flex;
    padding: 10px;
    color: #D587FF;
}
    .card-title a {
        margin-left: auto;
        background-color: #f1d7ff;
        color:#303030;
        border: 1px solid #D587FF;
        padding:7px 15px;
        font-weight:600;
        text-decoration:none;
        border-radius:7px;
    }
.card-body {
    border: 1px solid silver;
    background-color: #ffffff;
    padding:12px;
}
.card-footer {
    border: 1px solid silver;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    padding:15px;
    color:#303030;
}
.table
{
    width:100%;
}
.table tr th{
    padding:10px;
    border:1px solid silver;
    background-color:#e2e8f0;
}
    .table tr td {
        padding: 10px;
        border: 1px solid silver;
        text-align:center;
    }
.tablebutton{
    padding:3px 7px;
    border-radius:3px;
    text-decoration:none;
}
.duzenlebuton{
    background-color:lightseagreen;
    color:white;
}
.silbuton {
    background-color: lightcoral;
    color: white;
}
.row{
    margin-bottom:15px;
}
.control-label
{
    display:block;
    margin-bottom:3px;
}
.form-control{
    padding:7px;
    border-radius:3px;
    border:1px solid silver;
    width:100vh;
}
.form-select {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid silver;
    width: 100vh;
}
.formbutton{
    padding:10px 25px;
    background-color:#f1d7ff;
    color:#303030;
    border:1px solid #b63ff6;
    border-radius:5px;
}
.formbutton:hover
{
    cursor:pointer;
    background-color:#eac5fe
}
.validationMessage{
    color:red;
    display:block;
}
.basarili {
    padding: 10px;
    background-color: #c6fabf;
    color: lightseagreen;
    border-color: lightseagreen
}
.basarisiz {
    padding: 10px;
    background-color: #ffb7b7;
    color: #a50404;
    border-color: #a50404;
}
